appdirs==1.4.4
arpy==2.3.0
asttokens==2.4.1
attrs==23.1.0
Automat==22.10.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
constantly==23.10.4
contextlib2==21.6.0
cryptography==41.0.7
cssselect==1.2.0
cstruct==5.3
decorator==5.1.1
dissect.cstruct==2.0
docopt==0.6.2
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
fs==2.4.16
greenlet==3.0.2
hyperlink==21.0.0
idna==3.6
importlib_metadata==7.1.0
incremental==22.10.0
internetarchive==3.7.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.19.1
jefferson==0.4.5
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==2.4
lark==1.1.9
lief==0.12.3
lxml==4.9.3
lz4==4.3.3
lzallright==0.2.4
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
mdurl==0.1.2
msgpack==1.0.7
packaging==23.2
parsel==1.8.1
parso==0.8.3
pexpect==4.9.0
plotext==5.2.8
pluggy==1.5.0
prompt-toolkit==3.0.43
Protego==0.3.0
psycopg==3.1.18
psycopg-binary==3.1.18
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
pyfatfs==1.1.0
Pygments==2.17.2
pynvim==0.5.0
pyOpenSSL==23.3.0
pyperscan==0.3.0
python-dotenv==1.0.0
python-magic==0.4.27
queuelib==1.6.2
rarfile==4.2
requests==2.31.0
requests-file==1.5.1
rich==13.7.1
schema==0.7.5
Scrapy==2.11.0
scrapyd==1.4.3
service-identity==23.1.0
six==1.16.0
stack-data==0.6.3
structlog==24.4.0
tldextract==5.1.1
tqdm==4.66.2
traitlets==5.14.2
treelib==1.7.0
Twisted==22.10.0
typing_extensions==4.9.0
uberegg==0.1.1
ubi-reader==0.8.9
unblob==24.6.10
unblob-native==0.1.2
urllib3==2.1.0
w3lib==2.1.2
wcwidth==0.2.13
zipp==3.18.1
zope.interface==6.1
